# Archivos de caché de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/

# Archivos específicos de sistemas operativos
.DS_Store # macOS
Thumbs.db # Windows

# Archivos de configuración de IDEs (opcional, pero común)
.vscode/ # Ignora la carpeta de configuración de VS Code si no quieres compartirla
*.code-workspace

# Archivos de logs o datos temporales
*.log
*.tmp